

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img 
	{
		margin: 0 auto;
    	height: 300px;
    	width : 100%;
    }

/* login button */

.btn-info {
    color: #fff;
    background-color: #26282b;
    border-color: black;
}

.btn-info: hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

.userContents {
	margin-left: 0px;
	margin-right : 250px;
}

.logout {
	cursor: pointer;	
}

.logout span:HOVER {
	color:white;	
}

.dropbtn {
    background-color: #26282b;
    color: white;
    padding: 12px 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
/*     width:160px; */
	margin-top: -12px;
	margin-bottom: -12px; 

}

.dropdown {
/*     position: relative; */
/*     display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #80bfff}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}
/* login button */


/* user related functionality bar */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    padding-left:40px; 
    padding-right:40px; 
    
    font-size: large;
    color: #818181;
    background-color: #26282b;
    
}

.sidenav a {

    padding: 8px 8px 8px 0px;
    text-decoration: none;
/*     	text-align: center; */
    font-size: 20px;
    color: #818181;
/*     background-color : blue; */
    display: block;
    transition: 0.3s;

    border-bottom : 2px solid grey;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav img {
	margin-left: 25%;
	border-color: darkgrey;
/* 	border-width: 5px; */
/* 	border-style: solid; */
	border-radius : 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}
}

/* user related functionality bar */


/* For all elements */
* {
    box-sizing: border-box;
}

.errMsg{
	color:red;
	font-size: small;
}

.margin-5px{
	margin: 5px;
}

.all-products-agents {
     border: solid;
     border-width: 2px;
     border-color: #17202A;
}

.fixed-details{
/* 	background-color: grey; */
	float :right;
	display : inline-block;
	position : fixed;
	height: 70%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #17202A;
    margin: 1em 0;
    padding: 0; 
}

.common-function{
	margin-left: 0px;
/* 	border-left: 1px solid #17202A; */
/* 	border-right:1px solid #17202A; */
	border-bottom : 1px solid #17202A;
	color : #2E86C1;
	font-size: small;
	padding-bottom : 15px;
	padding-top : 15px;

}


label.headerlink{
	  padding: 15px 0px; 
	  color	: white;
	  margin-right : 20px;
	  font-size: 14px;
	  font-style: normal;
	  font-size: medium;
}

span.headerlink{
	 padding: 6px 0px; 
	  color	: white;
	  margin-right : 20px;
	  font-size: 14px;
}


input[type=search] {
  color	: black;
  width	: 30%;
  display: inline;
  height: 40px;
  padding: 6px 6px;
  font-size: 12px;
  color: #555;
  margin-top : 7px;
  background-color: white;
  background-image: none;
  border-radius: 0px;
  border-right-color :#555;
  border-width : 0px;
   -webkit-transition: width 0.4s ease-in-out;
    	  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 70%;
  	color: #555;
    border-width: 0px;
    background-color: white;
}

input[type=search]:hover {
    width: 70%;
    color	: black;
    border-width: 0px;
    background-color: #e6e6e6;
}

.search-button{
  display: inline;
  height: 40px;
  padding: 6px 6px;

  font-size: 12px;
  color: #555;
  background-color: white;
  border-width : 0px;
  border-radius: 0px;
  border-left-color: #555;
  margin-left : -5px;
 }

div .row .xxx:HOVER{
	 background-color: rgba(0,0,0,0.5); 
}

div .row .xxx:FOCUS{
	 background-color: rgba(0,0,0,0.5); 
}

body {
	font-family: Verdana,sans-serif;
	background-color: white;
	color:   #26282b;
	font-size: 1.5em;
}

header {
	padding-top:10px;
	width:100%;
	height : 70px;
	position: relative;
	background-color: #26282b;
}

footer{
	width: 100%;
    bottom: 0;
 	background-color: #000000;
 	position: fixed;
}

.footerLinks{
	color: black;
}

.row{
	margin-left : 0px;
	margin-right :0px;
}



/* Nav bar starts here */

.navigationBar{
	background-color: black;
}

.navigationBar .footerNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.navigationBar .footerNav a{
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

.navigationBar .footerNav a:hover {background-color: #9E9E9E;}
 /* Nav bar ends here */



/* Modals and login starts here */
	/* Full-width input fields */

.modal {
    background-color: #4CAF50;
   	padding: 140px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
/*     background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding: 0px;
}
	
.modal .container {
    padding: 0px;
}

.modal .col-sm-3 .productImg {
	margin-top: 20px;
}
.modal .imgcontainer {
    text-align: center;
    margin: 0px 0 0px 0;
    position: relative;
}

.modal input[type=text], input[type=password],input[type=email],
input[type=tel],input[type=number],input[type=file], select {
    width: 100%;
    padding: 8px 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius : 0px;
    color:black;
}

.modal .row{
	margin-left: 10px;
	margin-right: 10px;
}

.modal select{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal span{
	color:black;
}

.modal span:hover {
	color:blue;
	font-style: italic;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color:   #26282b;
}

.modal label{
    width: 100%;
    padding: 6px 0px;
    margin: 6px 0px;
    margin-right : 3px;
    display: inline-block;
	text-align: left;
	font-size : 90%;
	color : black;
}

label.label-large{
	font-size: x-large;
	color:   #26282b;
}


}


label.label-medium{
	font-size: large;
		color:   #26282b;
}

label.label-small{
	font-size: medium;
	color:   #26282b;
}

label.label-large-black{
	font-size: x-large;
	color: black;
	text-align: center;
}

label.label-medium-black{
	font-size: large;
	color: black;
	text-align: center;
}

label.label-small-black{
	font-size: medium;
	color: black;
	text-align: center;
}

a.anchor-big{
	font-size: 18px;
	text-decoration: none;
	color :	#26282b;

}

a.anchor-big:focus{
	color : black;
	
}

a.anchor-big:hover{
	color : black;
	font-size: x-large;
}


.modal input:hover{
	background-color: lightgrey;
}


/* Set a style for all buttons */

/* Center the image and position the close button */


.modal img.avatar {
    width: 20%;
}

/* The Modal (background) */


/* Modal Content/Box */
.modal .modal-content {
	
    background-color: #fefefe;
    margin-top: 40px; 
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #888;
    width: 80%; 
    height: = 10%;
}


/* The Close Button (x) */
.modal .close {
    position: absolute;
    right: 0px;
    top : 0px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.modal .close:hover,

.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* Modals and login ends here */

/* Footer elements */

/* Footer elements */

/* */
.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
}
/* */

.headings{
	font-size: 30px;
}

.header-white {
	color 		: white;
/* 	font-size	: 1.5em;  */
}

.searchBox{
	width: 100%;
    padding: 6px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.filterBox{
	width: 100%;
    padding: 6.5px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.searchButton{
	width: 100px;
    padding: 6px 20px;
    margin: 8px 0px;
    margin
    display: inline-block;
    border: 1px solid #ccc;	
}

.searchBox:HOVER{
	background-color: lightgrey;	
}

/* .filterBox:HOVER{ */
/* 	background-color: lightgrey;	 */
/* } */

.searchButton:HOVER{
	background-color: lightgrey;	
}

            

/* Footer */

.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
            