
<div class= "container-fluid" >
	
	<div class = "row header-white" >
		<div class = "col-sm-2 common-function" align="center">
			<a href="#/" class="anchor-big" ng-click="gotoHome()"> <span class="glyphicon glyphicon-home" > </span> Home</a>		
		</div>
		<div class = "col-sm-2 common-function" align="center">
			<a href="#/" class="anchor-big" ng-click="getAllProducts()"> <span class = "glyphicon" >  </span> Products </a> 
		</div>
		<div class = "col-sm-2 common-function" align="center">
			<a href="#/" class="anchor-big" ng-click="getAllAgents()"> <span class = "glyphicon" >  </span> Agents </a> 
		</div>
		<div class = "col-sm-2 common-function" align ="center">
			<a href="#/" class="anchor-big" > <span class = "glyphicon" >  </span> About us </a> 
		</div>
		<div class = "col-sm-2 common-function" align="center">
			<a href="#/" class="anchor-big" > <span class = "glyphicon" > </span> Contact us </a> 
		</div>	
<!-- 		<div class = "col-sm-2 common-function" align="center">
			<a href="#/" class="anchor-big" > <span class = "glyphicon" > </span> Login </a> 
			
		</div>    -->
 		
		<div class="col-sm-2 common-function dropdown" align="center">
		  <button class="dropbtn" ng-click="openModal('loginUser')"><span class="glyphicon glyphicon-log-in" ></span> Login</button>
<!-- 		  <div class="dropdown-content" align="left"> -->
<!-- 		  	<a><span ng-click="openModal('loginUser', 'ADMIN')"><span class="glyphicon glyphicon-user"></span> Admin</span></a> -->
<!-- 		   	<a><span ng-click="openModal('loginAgent', 'AGENT')"> <span class="glyphicon glyphicon-user"></span> Agent</span></a>   -->
<!-- 		 	<a><span ng-click="openModal('loginUser', 'DIRECT CUSTOMER')"><span class="glyphicon glyphicon-user"></span> Customer</span></a> -->
<!-- 		   	<a><span ng-click="openModal('loginUser', 'MANAGED CUSTOMER')"><span class="glyphicon glyphicon-user"></span> Managed Customer</span></a> -->
<!-- 		  </div> -->
		</div>
	</div>
	<br>

	<!-- here is all the data to be displayed instead of the background image -->
			<div class = "row fade in" ng-show="homepageBGImage" >
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      <li data-target="#myCarousel" data-slide-to="1"></li>
						      <li data-target="#myCarousel" data-slide-to="2"></li>
						      <li data-target="#myCarousel" data-slide-to="3"></li>
						    </ol>
						
						    <!-- Wrapper for slides -->
						    <div class="carousel-inner" role="listbox">
						      <div class="item active">
						        <img src="images/carousel/carousel_1.jpg" alt="Chania">
						      </div>
						
						      <div class="item">
						        <img src="images/carousel/carousel_2.jpg" alt="Chania" >
						      </div>
						    
						      <div class="item">
						        <img src="images/carousel/carousel_3.jpg" alt="Flower" >
						      </div>
						
						      <div class="item">
						        <img src="images/carousel/carousel_4.jpg" alt="Flower" >
						      </div>
						    </div>
						
						    <!-- Left and right controls -->
						    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
 							      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 							      <span class="sr-only">Previous</span> 
						    </a>
						    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
 							      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
 							      <span class="sr-only">Next</span> 
						    </a>
					</div>
			</div>		
	
	
	
	
	
			<!--  displays products only  -->
				<div class = "row"  ng-show="productsDisplayDiv" >
				  <br>
					<div class="col-sm-5 all-products-agents">
							<div class = "fade in" >
								<div class="row" >
									<div class="col-sm-4"  >
										<label class="label-medium"><u>Products</u> 
<!-- 											<span class="badge"> Total : {{ allProducts.length }}</span> -->
										</label>
									</div>
									<div class="col-sm-8">
										<input type="search" placeholder="Search " ng-model="searchProductName">
									</div>
								</div>
								<div class="row xxx" ng-repeat= 'product in allProducts | filter : {productName: searchProductName}' >
									<!-- formating row wise -->
					 				<div class="row">
											<div class="col-sm-3 productImg">
												<img src="images/logo1.png" width=120px height=70px > 
											</div>
											<div class="col-sm-9">
												<label class="label-large">{{ product.productName }}</label><br>
												<label class="label-small">{{ product.termYear }} Years plan for
												&#8377; {{ product.monthlyPremium }}/month </label> <br>
												<input class="btn btn-default" type="button" value="View details >>"
														ng-click="viewProductDetails(product)">
											</div> 
									</div>
									<div class=row><hr></div>
								</div>
							</div>
					</div>
					<div class="col-sm-1"></div>
					<div class = "col-sm-4 fixed-details" ng-show="productDetails">
						<!--  Everything related to particular agent  -->
						<div class = "row" align = "left">
<!-- 							<img src="images/logo1.png" width=200px height=120px >  -->
						</div>
						
						<div class="row">
							<label class="label-medium">Product Details</label>
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-11">
								<label>{{ detailProduct.productName }}</label>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label>&#8377; {{ detailProduct.basicCoverage }}</label> Basic coverage
							</div>
						</div>
						<div class="row">	
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label> &#8377; {{ detailProduct.monthlyPremium }}</label>/month upto <label>{{ detailProduct.termYear }} </label>  Years
							</div>
						</div>
						<div class="row">	
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label>&#8377; {{ detailProduct.accidentalBenefit }}</label> Accidental benefit 
							</div>
						</div>
						<div class="row">	
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
							
							</div>
						</div>
						
						<div class = "row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label>Settlement Ratio</label> 
							</div>							
						</div>
						<div class="row">	
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
								{{ detailProduct.settlementRatio }} %
							</div>
						</div>
						
						<div class = "row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label>Details</label> 
							</div>							
						</div>
						<div class="row">	
							<div class="col-sm-2"></div>
							<div class="col-sm-10" align="justify">
								{{ detailProduct.description }}
							</div>
						</div>
						<br>
						<div class ="row" >
							<input class="btn btn-default" type="button" 
									value="<< Hide details" ng-click="hideProductDetails()">
							<br><br>Tip: Register with us to BUY products					
						</div> 
					</div>
				<div class="col-sm-2">
				</div>
			</div>					


			<!--  displays agents only  -->
				<div class = "row" ng-show="agentsDisplayDiv">
				  <br>
					<div class = "col-sm-5 all-products-agents" > 	
						<div class = "fade in"  >
							<div class="row fade in">
								<div class="col-sm-4">
									<label class="label-medium"><u>Agents</u> 
<!-- 										<span class="badge"> Total : {{ allAgents.length }}</span> -->
									</label>
								</div>
								<div class="col-sm-8">
									<input type="search" placeholder="Search" ng-model="searchAgentUName">
								</div>
							</div>
			
							<div class="row xxx" ng-repeat= "agent in allAgents | filter : {userName: searchAgentUName} | orderBy : 'userName' " >
								<!-- formating row wise -->
								<div class="row fade in">
										<div class="col-sm-3 productImg">
											<img src="images/profile.png" width=120px height=120px > 
										</div>
										<div class="col-sm-9">
											<label class="label-large">{{ agent.userName }} </label> 
											<label class="label-medium">(Age : {{agent.age}}) </label> <br>
											
											<label class="label-small">Experience : {{ agent.workExperience }} Years </label> <br>
											<label class="label-small">Occupation : {{ agent.presentOccupation }} </label> <br>
											<input class="btn btn-default" type="button" value="View details >>"
													ng-click="viewAgentDetails(agent)">	
										</div> 
									 
								</div>
								<div class=row><hr></div>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
					<div class = "col-sm-4 fixed-details" ng-show="agentDetails">
						<!--  Everything related to particular agent  -->
						<div class = "row" align = "left">
							<img src="images/profile.png" width=120px height=120px > 
						</div>
						
						<div class="row">
							<label class="label-medium">Personal Details</label>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-11">
								<label>{{ detailAgent.userName }}</label> 
								(Age : {{ detailAgent.age }})</label> <br>
								{{ detailAgent.workExperience }}</label> years of experience
							</div>
						</div>
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								{{ detailAgent.lastQualification }}</label> 
							</div>
						</div>	
						<div class="row">
								<label class="label-medium">Occupation</label>
						</div>
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								{{ detailAgent.presentOccupation }}</label> 
							</div>
						</div>
						<div class="row">
							<label class="label-medium">Rewards</label>
						</div>
						<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								{{ detailAgent.rewards }}</label> 
							</div>
						</div>
						<div class = "row" >
							<label class="label-medium">Contacts</label>
						</div>
						<div class = "row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label><span class="glyphicon glyphicon-earphone"></span></label>
								<label>{{ detailAgent.phone }}</label> 
							</div>							
						</div>
						
						<div class = "row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label><span class="glyphicon glyphicon-envelope"></span></label>
								<label>{{ detailAgent.email }}</label> 
							</div>							
						</div>
						<br>
						<div class ="row" >
							<input class="btn btn-default" type="button" 
									value="<< Hide details" ng-click="hideAgentDetails()">							
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>
	
			<!-- details of agent -->
		
</div>




<!-- modals start here-->
				<!-- login user modal starts-->
						<div id="loginUser" class = "modal fade">
							<div class="row">
								<div class="col-sm-3">
								</div>
								<div class="col-sm-6">	
									<div class = "row" align="center">
										<form class="modal-content animate" name="registerForm">
											<div class="row">
												<div class="container">
													<span ng-click="closeModal('loginUser')" class="close" >&times;</span>
												</div>
											</div>
											<div class="row" align="center">
												<center>
														<img src="images/profile.png" alt="Avatar" width= 20% height=20% >
														<br>
														<label class="label-medium-black"> LOGIN </label>
													</center>
											</div>
											<div class="row">
												<div class="col-sm-2">	
														<label><b>Username</b></label>
												</div>
												<div class = "col-sm-10">
<!-- 														<input type="text" placeholder="Enter Username" ng-change="lunameToUpper()" -->
<!-- 															class="form-control" ng-model="luname"> -->
														<input id="lusername" type="text" placeholder="Enter Username" name="username"
															class="form-control" ng-model="luname" required ng-change="lunameChange()">
															
												<div class="errMsg"> {{	unameErr }}</div>
												</div> 
											</div>
					
											<div class="row">
												<div class="col-sm-2">
														<label><b>Password</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="password" placeholder="Enter password" class="form-control" ng-model="lpass">
												<div class="errMsg" > {{	passwordErr	}}</div>
											</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-4">			 
				 									</div>
													<div class="col-sm-4">			
														<button type="submit" class="btn btn-lg btn-info"  ng-click="login_user(uname,pass)" >Login</button>
													</div>
													<div class="col-sm-4">
													</div>
											</div>
											
											<div class="row">
												<div class="col-sm-8">			 
				 								</div>
													<div class="col-sm-4">			
														<span  ng-click="openModal('registerUser', 'null')">New user?</a></span>			
													</div>
												<div class="col-sm-4">
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-sm-3">
								</div>
							</div>
						</div>
						
				<!-- login user modal ends -->
				
				
				<!-- login agent modal starts-->
						<div id="loginAgent" class = "modal fade">
							<div class="row">
								<div class="col-sm-3">
								</div>
								<div class="col-sm-6">	
									<div class = "row" align="center">
										<form class="modal-content animate" name="registerForm">
											<div class="row">
												<div class="container">
													<span ng-click="closeModal('loginAgent')" class="close" >&times;</span>
												</div>
											</div>
											<div class="row">
												<center>
														<img src="images/profile.png" alt="Avatar" width= 20% height=20% >
														<br>
														<label class="label-medium-black"> LOGIN AS {{ userType }} </label>
													</center>
											</div>
											<div class="row">
												<div class="col-sm-2">	
														<label><b>Username</b></label>
												</div>
												<div class = "col-sm-10">
														<input type="text" placeholder="Enter Username" class="form-control" ng-model="luname">
												<div class="errMsg"> {{	unameErr }}</div>
												</div> 
											</div>
					
											<div class="row">
												<div class="col-sm-2">
														<label><b>Password</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="password" placeholder="Enter password" class="form-control" ng-model="lpass">
												<div class="errMsg" > {{	passwordErr	}}</div>
											</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-4">			 
				 									</div>
													<div class="col-sm-4">			
														<button type="submit" class="btn btn-lg btn-info"  ng-click="login_user(uname,pass)" >Submit</button>
													</div>
													<div class="col-sm-4">
													</div>
											</div>
											
											<div class="row">
												<div class="col-sm-8">			 
				 								</div>
													<div class="col-sm-4">			
														<span ng-click="openModal('registerAgent', 'null')">New user? Register</a></span>			
													</div>
												<div class="col-sm-4">
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-sm-3">
								</div>
							</div>
						</div>
						
				<!-- login agent modal ends -->
				
				
				
				<!-- register of user modal starts -->
						<div id="registerUser" class = "modal fade">
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-8">	
									<div class = "row" align="center">
										<form class="modal-content animate" name="registerForm">
											<div class="row">
												<div class="container">
													<span ng-click="closeModal('registerUser')" class="close" >&times;</span>
												</div>
											</div>
											<div class="row">
												<center>
														<img src="images/profile.png" alt="Avatar" width= 15% height=15% >
														<br>
														<label class="label-medium-black">REGISTER</label>
													</center>
											</div>
											<div class="row">
												<div class="col-sm-2">	
														<label><b>Firstname</b></label>
												</div>
												<div class = "col-sm-4">
														<input type="text" placeholder="Ex. Aniruddha" ng-change="firstnameToUpper()" ng-model="fname" autofocus required>
														<div class="errMsg" > {{ registerFnameErrMsg }}</div>
												</div>
												<div class="col-sm-2">
														<label><b>Lastname</b></label>
												</div>
												<div class="col-sm-4">	
														<input type="text" placeholder="Ex. Daryapurkar" ng-change="lastnameToUpper()" ng-model="lname" required>
														<div class="errMsg"> {{ registerLnameErrMsg }}</div>
												</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-2">
													<label><b>Username</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="text" placeholder="Combination of Alphabets and numbers" ng-model="uname" 
															ng-change="usernameCheck()" >
													<div class="errMsg"> {{ registerUnameErrMsg }}</div>
													<div class="errMsg"> {{ registerUnameUserExists }}</div>
												</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-2">
													<label><b>Password</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="password" ng-model="psw" ng-change = "passwordLengthCheck()" >
													<div class="errMsg"> {{ registerPswErrMsg }}</div>
												</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-2">
													<label><b>Re-enter Password</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="password" ng-model="cpsw" required ng-change = "passwordMatch()" >
													<div class="errMsg"> {{ registerCpswErrMsg }}</div>
												</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-2">
														<label><b>Email</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="email" placeholder="Ex. abc.mnq@xyz.com" 
														ng-change="ifUserExists()" ng-model="email"  >	
													<div class="errMsg"> {{ registerEmailErrMsg }}</div>
													<div class="errMsg"> {{ registerEmailUserExists }}</div>
												</div> 
											</div>
											
											
											<div class="row">
												<div class="col-sm-2">
														<label><b>Address</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="text" placeholder="Ex. Block no., Street name, Area" ng-change="addressToUpper()" ng-model="address" required >	
													<div class="errMsg"> {{ registerAddressErrMsg }}</div>
												</div> 
											</div>
											
											<div class="row">
												<div class="col-sm-2">
														<label><b>Contact</b></label>
												</div>
												<div class="col-sm-10">	
													<input type="number" placeholder="Only digits" ng-model="contact" required>
													<div class="errMsg"> {{ registerContactErrMsg }}</div>
												</div> 
											</div>
											
											
											<div class="row">
												<div class="col-sm-2">	
														<label><b>State</b></label>
												</div>
												<div class = "col-sm-4">
														<input type="text" placeholder="Ex. Maharashtra" ng-change="stateToUpper()" ng-model="state" required>
														<div class="errMsg"> {{ registerFnameErrMsg }}</div>
												</div>
												<div class="col-sm-1">
														
												</div>
												<div class="col-sm-1" >
														<label><b>City</b></label>
												</div>
												<div class="col-sm-4">	
														<input type="text" placeholder="Ex. Pune" ng-change="cityToUpper()" ng-model="city" required>
														<div class="errMsg"> {{ registerCityErrMsg }}</div>
												</div> 
											</div>
					
											
											<div class="row">
												<div class="col-sm-4">			 
				 									</div>
													<div class="col-sm-4">			
														<button class="btn btn-lg btn-info" type="submit"  ng-click="registerUser()" >Register</button>  
													</div>
													<div class="col-sm-4">
													</div>
											</div>
											
											<div class="row">
												<div class="col-sm-4">			 
				 									</div>
													<div class="col-sm-4">			
														<br>
													</div>
													<div class="col-sm-4">
													</div>
											</div>
											
										</form>
									</div>
								</div>
								<div class="col-sm-2">
								</div>
							</div>
						</div>
		
			<!-- register of user ends -->
			
						<!-- register agent -->
<!-- agent registration modal starts -->
			<div id="registerAgent" class = "modal fade">
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">	
					<div class = "row" align="center">
						<form class="modal-content animate" name="registerForm">
							<div class="row">
								<div class="container">
									<span ng-click="closeModal('registerAgent')" class="close" >&times;</span>
								</div>
							</div>
							<div class="row">
								<center>
										<img src="images/profile.png" alt="Avatar" width= 20% height=20% >
										<br>
										<label class="label-medium-black"> REGISTER AS {{ userType }} </label>
									</center>
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<label><b>Username</b></label>
								</div>
								<div class="col-sm-9">	
													<input type="text" placeholder="Combination of Alphabets and numbers" ng-model="uname" 
															ng-change="usernameCheck()" >
													<div class="errMsg"> {{ registerUnameErrMsg }}</div>
													<div class="errMsg"> {{ registerUnameUserExists }}</div>
												</div> 
							</div>								
							<div class="row">
								<div class="col-sm-3">
										<label><b>Age</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="number" placeholder="Ex. between 20 to 60" min="20" max="60" ng-model="age" required ng-change="checkAge()">	
									<div class="errMsg"> {{ registerAgeErrMsg }}</div>
								</div> 
							</div>
							
							<div class="row">
								<div class="col-sm-3">	
										<label><b>Last Qualification</b></label>
								</div>
								<div class = "col-sm-9">
										<select ng-model="qualification" class="pad btn btn-default btn-lg" style="width:100%;" required >
										<option  value="graduate">Graduate</option>
										<option  value="postGraduate">Post Graduate</option>
	</select>
	<div class="errMsg"> {{ registerQualificationErrMsg }}</div>
								</div>
							</div>
	
							<div class="row">
								<div class="col-sm-3">
										<label><b>Present Occupation</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="text" placeholder="enter occupation" ng-model="occupation" ng-change="occupationToUpper()" required>
									<div class="errMsg"> {{ registerOccupationErrMsg }}</div>
								</div> 
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<label><b>Rewards</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="text" ng-model="rewards" ng-change="rewardsToUpper()" required>
									<div class="errMsg"> {{ rewardsErrMsg }}</div>
								</div> 
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<label><b>Working Experience</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="number" ng-model="experience" required ng-change = "experienceToUpper()" min="0" max="35" >
									<div class="errMsg"> {{ experienceErrMsg }}</div>
								</div> 
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<label><b>Email Id</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="email" ng-model="email" required>
									<div class="errMsg"> {{ emailErrMsg }}</div>
								</div> 
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<label><b>Contact No.</b></label>
								</div>
								<div class="col-sm-9">	
									<input type="number" ng-model="contact" required>
									<div class="errMsg"> {{ contactErrMsg }}</div>
								</div> 
							</div>
					
							
							
							
							<div class="row">
								<div class="col-sm-4">			 
 									</div>
									<div class="col-sm-4">			
										<button class="btn btn-success btn-block" type="submit"  ng-click="registerAgent()" >Register</button>  
									</div>
									<div class="col-sm-4">
									</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>
			
			<!-- agent registration ends -->
	
				
			
<!-- modals end here -->








<!-- FOOTER WILL COME FROM THE SHELL PAGE -->
	
