<div class="container">
    <h1 class="well">Login Form</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form>
									
							{{ userType }} 
							<div class="row">
							<div class="col-sm-6 form-group">
								<label>Username</label>
								<input type="text" placeholder="Enter Username" class="form-control" ng-model="uname">
								<div class="errMsg"> {{	unameErr	}}</div>
							</div>
							<div class="col-sm-6 form-group">
								<label>Password</label>
								<input type="password" placeholder="Enter password" class="form-control" ng-model="pass">
								<div class="errMsg" > {{	passwordErr	}}</div>
							</div>
						</div>	
						<button type="submit" class="btn btn-lg btn-info"  ng-click="login_user(uname,pass)" >Submit</button>					
						<button type="submit" class="btn btn-lg btn-info" ng-click="show()">Show</button>					
		
				</form> 
						
				</div>
	</div>
	</div>